@model Workshop2.Models.Car

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie</h1>

<h3>Jesteś pewny, że chcesz usunąć pojazd?</h3>
<div>
    <h4>Samochód</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarVIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarVIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActual)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CarId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
