@model Workshop2.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Samochód</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarVIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarVIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CarId">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
